/*列表编辑处按钮*/
.icondealwith{
    background-color: #2D93CA;
    color: #ffffff;
    border: 1px solid #2D93CA;
}
.icon-add-field {
    background: url('../img/add.png') no-repeat left center;
    padding-left: 16px;
}
.add_event_btn{
    background: url('../images/btns/add_event.png') no-repeat;
    height: 22px;
    width: 80px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.add_event_btn:active{
    border: 1px solid #6fb3e0;
}
.add_fwry_btn{
    background: url('../images/btns/add_fwry.png') no-repeat;
    height: 22px;
    width: 113px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.add_fwry_btn:active{
    border: 1px solid #6fb3e0;
}
.add_gzry_btn{
    background: url('../images/btns/add_gzry.png') no-repeat;
    height: 22px;
    width: 113px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.add_gzry_btn:active{
    border: 1px solid #6fb3e0;
}
.add_rzry_btn{
    background: url('../images/btns/add_rzry.png') no-repeat;
    height: 22px;
    width: 113px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.add_rzry_btn:active{
    border: 1px solid #6fb3e0;
}
.add_zlry_btn{
    background: url('../images/btns/add_zlry.png') no-repeat;
    height: 22px;
    width: 113px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.add_zlry_btn:active{
    border: 1px solid #6fb3e0;
}
.assess_btn{
    background: url('../images/btns/assess.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.assess_btn:active{
    border: 1px solid #6fb3e0;
}
.call_btn{
    background: url('../images/btns/call.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.call_btn:active{
    border: 1px solid #6fb3e0;
}
.cancel_btn{
    background: url('../images/btns/cancel.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.cancel_btn:active{
    border: 1px solid #6fb3e0;
}
.change_btn{
    background: url('../images/btns/change.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.change_btn:active{
    border: 1px solid #6fb3e0;
}
.commit_btn{
    background: url('../images/btns/commit.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.commit_btn:active{
    border: 1px solid #6fb3e0;
}
.dealwith_btn{
    background: url('../images/btns/dealwith.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.dealwith_btn:active{
    border: 1px solid #6fb3e0;
}
.del_btn{
    background: url('../images/btns/del.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.del_btn:active{
    border: 1px solid #6fb3e0;
}
.edit_btn{
    background: url('../images/btns/edit.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.edit_btn:active{
    border: 1px solid #6fb3e0;
}
.grant_btn{
    background: url('../images/btns/grant.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.grant_btn:active{
    border: 1px solid #6fb3e0;
}
.in_home_btn{
    background: url('../images/btns/in_home.png') no-repeat;
    height: 22px;
    width: 80px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.in_home_btn:active{
    border: 1px solid #6fb3e0;
}
.logout_btn{
    background: url('../images/btns/logout.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.logout_btn:active{
    border: 1px solid #6fb3e0;
}
.map_btn{
    background: url('../images/btns/map.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.map_btn:active{
    border: 1px solid #6fb3e0;
}
.resend_btn{
    background: url('../images/btns/resend.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.resend_btn:active{
    border: 1px solid #6fb3e0;
}
.sign_btn{
    background: url('../images/btns/sign.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.sign_btn:active{
    border: 1px solid #6fb3e0;
}

.update_btn{
    background: url('../images/btns/update.png') no-repeat;
    height: 22px;
    width: 60px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.update_btn:active{
    border: 1px solid #6fb3e0;
}



